h4
{
  text-align: right;
}

.main {
  margin-bottom: 100px;
}

.navbar
{
  width: 54%;
  overflow: hidden;
  background-color: #4CAF50;
  position: fixed;
  bottom: 0;
  border-radius: 10px;
}

.navbar a
{
  display: block;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-right: 1px solid #ffffff;
}

.navbar:last-child
{
  border-right: none;
}

.navbar a:hover
{
  background: #2065d6;
  color: white;
}
