h4
{
  text-align: right;
}

.main {
  margin-bottom: 100px;
}

.navbar
{
  display: block;
  overflow: hidden;
  background-color: #4CAF50;
  position: fixed;
  bottom: 0;
  border-radius: 10px;
}

.navbar a
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-right: 1px solid #bbb;
}

.navbar:last-child
{
  border-right: none;
}

.navbar a:hover
{
  background: #2065d6;
  color: white;
}

.social-media
{
  display: flex;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

.social-media li
{
  list-style: none;
}

.social-media li a
{
  width: 2em;
  height: 2em;
  background: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 3.5em;
  margin: 0 15%;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 0.2em solid #fff;
  z-index: 1;
}

.social-media li a .fa
{
  position: relative;
  color: #262626;
  transition: .5s;
}

.social-media li a:hover .fa
{
  color: #fff;
  transform: rotateY(360deg);
  z-index: 3;
}

.social-media li a:before
{
  content: '';
  position: absolute;;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.social-media li a:hover:before
{
  top: 0;
}

.social-media li:nth-child(1) a:before
{
  background: #000000;
}

.social-media li:nth-child(2) a:before
{
  background: #007BB5;
}

.social-media li:nth-child(3) a:before
{
  background: #C32AA3;
}

.social-media li:nth-child(4) a:before
{
  background: #3B5998;
}

.social-media li:nth-child(5) a:before
{
  background: #DB4437;
}

.social-media li:nth-child(6) a:before
{
  background: #1ED760;
}
